RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

### ACCOUNT CHANGE PASS ### 
RewriteRule ^dev/profile/update-password$ controllers/developer/account/account-change-password.php [L] 

### ACCOUNT CHANGE PASS ### 
RewriteRule ^other/profile/update-password$ controllers/admin/account/account-change-password.php [L] 
 
###### DEV SETTINGS ######

#DEPARTMENT
RewriteRule ^dev-department$ controllers/developer/settings/department/department.php [L]
RewriteRule ^dev-department/([0-9]+)$ controllers/developer/settings/department/department.php?departmentid=$1 [L]
RewriteRule ^dev-department/active/([0-9]+)$ controllers/developer/settings/department/active.php?departmentid=$1 [L]

#RELATIONSHIP
RewriteRule ^dev-relationship$ controllers/developer/settings/relationship/relationship.php [L]
RewriteRule ^dev-relationship/([0-9]+)$ controllers/developer/settings/relationship/relationship.php?relationshipid=$1 [L]
RewriteRule ^dev-relationship/active/([0-9]+)$ controllers/developer/settings/relationship/active.php?relationshipid=$1 [L]

#GRADE LEVEL
RewriteRule ^dev-grade-level$ controllers/developer/settings/grade-level/grade-level.php [L]
RewriteRule ^dev-grade-level/([0-9]+)$ controllers/developer/settings/grade-level/grade-level.php?gradelevelid=$1 [L]
RewriteRule ^dev-grade-level/active/([0-9]+)$ controllers/developer/settings/grade-level/active.php?gradelevelid=$1 [L]

#NOTIFICATION
RewriteRule ^dev-notification$ controllers/developer/settings/notification/notification.php [L]
RewriteRule ^dev-notification/([0-9]+)$ controllers/developer/settings/notification/notification.php?notificationid=$1 [L]
RewriteRule ^dev-notification/active/([0-9]+)$ controllers/developer/settings/notification/active.php?notificationid=$1 [L]


#REQUIREMENT REGISTRAR
RewriteRule ^dev-requirement-registrar$ controllers/developer/settings/requirement-registrar/requirement-registrar.php [L]
RewriteRule ^dev-requirement-registrar/([0-9]+)$ controllers/developer/settings/requirement-registrar/requirement-registrar.php?requirementregistrarid=$1 [L]
RewriteRule ^dev-requirement-registrar/active/([0-9]+)$ controllers/developer/settings/requirement-registrar/active.php?requirementregistrarid=$1 [L]


#REQUIREMENT REGISTRAR
RewriteRule ^dev-requirement-finance$ controllers/developer/settings/requirement-finance/requirement-finance.php [L]
RewriteRule ^dev-requirement-finance/([0-9]+)$ controllers/developer/settings/requirement-finance/requirement-finance.php?requirementfinanceid=$1 [L]
RewriteRule ^dev-requirement-finance/active/([0-9]+)$ controllers/developer/settings/requirement-finance/active.php?requirementfinanceid=$1 [L]

#REQUIREMENT IT
RewriteRule ^dev-requirement-it$ controllers/developer/settings/requirement-it/requirement-it.php [L]
RewriteRule ^dev-requirement-it/([0-9]+)$ controllers/developer/settings/requirement-it/requirement-it.php?requirementitid=$1 [L]
RewriteRule ^dev-requirement-it/active/([0-9]+)$ controllers/developer/settings/requirement-it/active.php?requirementitid=$1 [L]

#TUITION CATEGORY
RewriteRule ^dev-tuition-category$ controllers/developer/settings/tuition-category/tuition-category.php [L]
RewriteRule ^dev-tuition-category/([0-9]+)$ controllers/developer/settings/tuition-category/tuition-category.php?tuitioncategoryid=$1 [L]
RewriteRule ^dev-tuition-category/active/([0-9]+)$ controllers/developer/settings/tuition-category/active.php?tuitioncategoryid=$1 [L]

#LEARNING TYPE
RewriteRule ^dev-learning-type$ controllers/developer/settings/learning-type/learning-type.php [L]
RewriteRule ^dev-learning-type/([0-9]+)$ controllers/developer/settings/learning-type/learning-type.php?learningtypeid=$1 [L]
RewriteRule ^dev-learning-type/active/([0-9]+)$ controllers/developer/settings/learning-type/active.php?learningtypeid=$1 [L]


#SCHEME
RewriteRule ^dev-scheme$ controllers/developer/settings/scheme/scheme.php [L]
RewriteRule ^dev-scheme/([0-9]+)$ controllers/developer/settings/scheme/scheme.php?schemeid=$1 [L]
RewriteRule ^dev-scheme/active/([0-9]+)$ controllers/developer/settings/scheme/active.php?schemeid=$1 [L]


# FEES
RewriteRule ^dev-tuition-fee$ controllers/developer/settings/tuition-fee/tuition-fee.php [L]
RewriteRule ^dev-tuition-fee/([0-9]+)$ controllers/developer/settings/tuition-fee/tuition-fee.php?tuitionfeeid=$1 [L]
RewriteRule ^dev-tuition-fee/active/([0-9]+)$ controllers/developer/settings/tuition-fee/active.php?tuitionfeeid=$1 [L]
RewriteRule ^dev-tuition-fee/read-all-group-by-category-grade$ controllers/developer/settings/tuition-fee/read-all-group-by-category-grade.php [L] 
RewriteRule ^dev-tuition-fee/read-all-category$ controllers/developer/settings/tuition-fee/read-all-category.php [L]
RewriteRule ^dev-tuition-fee/read-all-scheme$ controllers/developer/settings/tuition-fee/read-all-scheme.php [L]
RewriteRule ^dev-tuition-fee/read-all-grade$ controllers/developer/settings/tuition-fee/read-all-grade.php [L]
RewriteRule ^dev-tuition-fee/read-all-group-by-category-grade$ controllers/developer/settings/tuition-fee/read-all-group-by-category-grade.php [L]
RewriteRule ^dev-tuition-fee/read-by-category-grade$ controllers/developer/settings/tuition-fee/read-by-category-grade.php [L]

# ROLES
RewriteRule ^dev-roles$ controllers/developer/settings/roles/roles.php [L]
RewriteRule ^dev-roles/([0-9]+)$ controllers/developer/settings/roles/roles.php?roleid=$1 [L]
RewriteRule ^dev-roles/active/([0-9]+)$ controllers/developer/settings/roles/active.php?roleid=$1 [L]

# USER SYSTEM
RewriteRule ^dev-user-system$ controllers/developer/settings/system/system.php [L]
RewriteRule ^dev-user-system/([0-9]+)$ controllers/developer/settings/system/system.php?usersystemid=$1 [L]
RewriteRule ^dev-user-system/active/([0-9]+)$ controllers/developer/settings/system/active.php?usersystemid=$1 [L]
RewriteRule ^dev-user-system/password$ controllers/developer/settings/system/set-password.php [L]
RewriteRule ^dev-user-system/reset$ controllers/developer/settings/system/reset-password.php [L]
RewriteRule ^dev-user-system/login$ controllers/developer/settings/system/login.php [L]
RewriteRule ^dev-user-system/key/([A-Za-z0-9-]+)$ controllers/developer/settings/system/key.php?usersystemkey=$1 [L]
RewriteRule ^dev-user-system/token$ controllers/developer/settings/system/token.php [L]
RewriteRule ^dev-user-system/verify-email/([A-Za-z0-9-]+)$ controllers/developer/settings/system/update-email.php?usersystemkey=$1 [L]

# USER OTHER
RewriteRule ^user-other$ controllers/developer/settings/other/other.php [L]
RewriteRule ^user-other/([0-9]+)$ controllers/developer/settings/other/other.php?userotherid=$1 [L]
RewriteRule ^user-other/active/([0-9]+)$ controllers/developer/settings/other/active.php?userotherid=$1 [L]
RewriteRule ^user-other/password$ controllers/developer/settings/other/set-password.php [L]
RewriteRule ^user-other/reset$ controllers/developer/settings/other/reset-password.php [L]
RewriteRule ^user-other/login$ controllers/developer/settings/other/login.php [L]
RewriteRule ^user-other/key/([A-Za-z0-9-]+)$ controllers/developer/settings/other/key.php?userotherkey=$1 [L]
RewriteRule ^user-other/token$ controllers/developer/settings/other/token.php [L]
RewriteRule ^user-other/staff$ controllers/developer/settings/other/staff.php [L]
RewriteRule ^user-other/verify-email/([A-Za-z0-9-]+)$ controllers/developer/settings/other/update-email.php?userotherkey=$1 [L]
RewriteRule ^user-other/parents$ controllers/developer/settings/other/parents.php [L]

# STAFF
RewriteRule ^dev-staff$ controllers/developer/settings/staff/staff.php [L]
RewriteRule ^dev-staff/search$ controllers/developer/settings/staff/search.php [L]
RewriteRule ^dev-staff/([0-9]+)$ controllers/developer/settings/staff/staff.php?staffid=$1 [L]
RewriteRule ^dev-staff/active/([0-9]+)$ controllers/developer/settings/staff/active.php?staffid=$1 [L]
RewriteRule ^dev-staff/page/([0-9]+)$ controllers/developer/settings/staff/page.php?start=$1 [L]

# PARENTS
RewriteRule ^dev-parents$ controllers/developer/parents/parents.php [L]
RewriteRule ^dev-parents/search$ controllers/developer/parents/search.php [L]
RewriteRule ^dev-parents/([0-9]+)$ controllers/developer/parents/parents.php?parentsid=$1 [L]
RewriteRule ^dev-parents/active/([0-9]+)$ controllers/developer/parents/active.php?parentsid=$1 [L]
RewriteRule ^dev-parents/page/([0-9]+)$ controllers/developer/parents/page.php?start=$1 [L]
RewriteRule ^dev-update-parents-financier/([0-9]+)$ controllers/developer/parents/update-fianancier.php?parentsid=$1 [L]
RewriteRule ^dev-read-students/([0-9]+)$ controllers/developer/parents/read-student-by-parent-id.php?parentsid=$1 [L]


#SYSTEM MODE
RewriteRule ^dev-system-mode$ controllers/developer/settings/system-mode/system-mode.php [L]
RewriteRule ^dev-system-mode/maintenance-mode$ controllers/developer/settings/system-mode/read-by-maintenance.php [L]
RewriteRule ^dev-system-mode/([0-9]+)$ controllers/developer/settings/system-mode/system-mode.php?systemModeId=$1 [L]
RewriteRule ^dev-system-mode/active/([0-9]+)$ controllers/developer/settings/system-mode/active.php?systemModeId=$1 [L] 

# SCHOOL YEAR
RewriteRule ^dev-school-year$ controllers/developer/settings/school-year/school-year.php [L]
RewriteRule ^dev-school-year/search$ controllers/developer/settings/school-year/search.php [L]
RewriteRule ^dev-school-year/([0-9]+)$ controllers/developer/settings/school-year/school-year.php?syid=$1 [L]
RewriteRule ^dev-school-year/active/([0-9]+)$ controllers/developer/settings/school-year/active.php?syid=$1 [L]
RewriteRule ^dev-school-year/page/([0-9]+)$ controllers/developer/settings/school-year/page.php?start=$1 [L]
RewriteRule ^dev-school-year/enrollment/([0-9]+)$ controllers/developer/settings/school-year/update-enrollment.php?syid=$1 [L]

###### DEV SETTINGS ######
 
#INFO-CONTACT
RewriteRule ^dev-info-contact$ controllers/developer/client/info-contact/info-contact.php [L]
RewriteRule ^dev-info-contact/([0-9]+)$ controllers/developer/client/info-contact/info-contact.php?contactid=$1 [L]
RewriteRule ^dev-read-info-contact/([0-9]+)$ controllers/developer/client/info-contact/info-contact.php?parentid=$1 [L]

#INFO-PARENT
RewriteRule ^dev-info-parent$ controllers/developer/client/info-parent-guardian/info-parent-guardian.php [L]
RewriteRule ^dev-info-parent/([0-9]+)$ controllers/developer/client/info-parent-guardian/info-parent-guardian.php?parentid=$1 [L]
RewriteRule ^dev-read-info-parent/([0-9]+)$ controllers/developer/client/info-parent-guardian/info-parent-guardian.php?parentid=$1 [L]

#INFO-GUARDIAN
RewriteRule ^dev-info-guardian$ controllers/developer/client/info-guardian/info-guardian.php [L]
RewriteRule ^dev-info-guardian/([0-9]+)$ controllers/developer/client/info-guardian/info-guardian.php?guardianid=$1 [L]
RewriteRule ^dev-read-info-guardian/([0-9]+)$ controllers/developer/client/info-guardian/info-guardian.php?parentid=$1 [L]

###### DEV CLIENT ######


#PROFILE
RewriteRule ^dev-profile$ controllers/developer/account/profile.php [L]
RewriteRule ^dev-profile-acc/([0-9])$ controllers/developer/account/read-profile-byId.php?profileid=$1 [L]
RewriteRule ^dev-profile/([0-9]+)$ controllers/developer/account/profile.php?profileid=$1 [L]


# DISCOUNT
RewriteRule ^dev-settings-discount$ controllers/developer/settings/discount/discount.php [L]
RewriteRule ^dev-settings-discount/read-all-category$ controllers/developer/settings/discount/read-all-category.php [L]
RewriteRule ^dev-settings-discount/([0-9]+)$ controllers/developer/settings/discount/discount.php?discountId=$1 [L]
RewriteRule ^dev-settings-discount/active/([0-9]+)$ controllers/developer/settings/discount/active.php?discountId=$1 [L]


# DISCOUNT CATEGORY
RewriteRule ^dev-settings-discount-category$ controllers/developer/settings/discount/category/discount-category.php [L]
RewriteRule ^dev-settings-discount-category/([0-9]+)$ controllers/developer/settings/discount/category/discount-category.php?discountCategoryId=$1 [L]
RewriteRule ^dev-settings-discount-category/active/([0-9]+)$ controllers/developer/settings/discount/category/active.php?discountCategoryId=$1 [L]


# DISCOUNT ADDTIONAL
RewriteRule ^dev-settings-discount-additional$ controllers/developer/settings/discount/additional/discount-additional.php [L]
RewriteRule ^dev-settings-discount-additional/([0-9]+)$ controllers/developer/settings/discount/additional/discount-additional.php?discountAdditionalId=$1 [L]
RewriteRule ^dev-settings-discount-additional/active/([0-9]+)$ controllers/developer/settings/discount/additional/active.php?discountAdditionalId=$1 [L]

# STUDENTS
RewriteRule ^dev-students$ controllers/developer/students/students.php [L]
RewriteRule ^dev-students/([0-9]+)$ controllers/developer/students/students.php?studentid=$1 [L]
RewriteRule ^dev-students/active/([0-9]+)$ controllers/developer/students/active.php?studentid=$1 [L]
RewriteRule ^dev-students/page/([0-9]+)$ controllers/developer/students/page.php?start=$1 [L]
RewriteRule ^dev-students/search$ controllers/developer/students/search.php [L]

# READ ALL PARENT ADDRESS BY STUDENT ID
RewriteRule ^student/parent-address/([0-9]+)$ controllers/developer/students/readParentAddressByStudentId.php?studentid=$1 [L]

# READ STUDENT BY PARENT ID
RewriteRule ^student-parent-id/([0-9]+)$ controllers/developer/students/readStudentByParentId.php?parentid=$1 [L]

# REQUIREMENTS REGISTRAR
RewriteRule ^req-registrar$ controllers/developer/requirement/registrar/req-registrar.php
RewriteRule ^req-registrar/([0-9]+)$ controllers/developer/requirement/registrar/req-registrar.php?studentid=$1 [L]



