RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *
 
###### DEV SETTINGS ######

#DEPARTMENT
RewriteRule ^dev-department$ controllers/developer/settings/department/department.php [L]
RewriteRule ^dev-department/([0-9]+)$ controllers/developer/settings/department/department.php?departmentid=$1 [L]
RewriteRule ^dev-department/active/([0-9]+)$ controllers/developer/settings/department/active.php?departmentid=$1 [L]

#RELATIONSHIP
RewriteRule ^dev-relationship$ controllers/developer/settings/relationship/relationship.php [L]
RewriteRule ^dev-relationship/([0-9]+)$ controllers/developer/settings/relationship/relationship.php?relationshipid=$1 [L]
RewriteRule ^dev-relationship/active/([0-9]+)$ controllers/developer/settings/relationship/active.php?relationshipid=$1 [L]

#GRADE LEVEL
RewriteRule ^dev-grade-level$ controllers/developer/settings/grade-level/grade-level.php [L]
RewriteRule ^dev-grade-level/([0-9]+)$ controllers/developer/settings/grade-level/grade-level.php?gradelevelid=$1 [L]
RewriteRule ^dev-grade-level/active/([0-9]+)$ controllers/developer/settings/grade-level/active.php?gradelevelid=$1 [L]

#NOTIFICATION
RewriteRule ^dev-notification$ controllers/developer/settings/notification/notification.php [L]
RewriteRule ^dev-notification/([0-9]+)$ controllers/developer/settings/notification/notification.php?notificationid=$1 [L]
RewriteRule ^dev-notification/active/([0-9]+)$ controllers/developer/settings/notification/active.php?notificationid=$1 [L]


#REQUIREMENT REGISTRAR
RewriteRule ^dev-requirement-registrar$ controllers/developer/settings/requirement-registrar/requirement-registrar.php [L]
RewriteRule ^dev-requirement-registrar/([0-9]+)$ controllers/developer/settings/requirement-registrar/requirement-registrar.php?requirementregistrarid=$1 [L]
RewriteRule ^dev-requirement-registrar/active/([0-9]+)$ controllers/developer/settings/requirement-registrar/active.php?requirementregistrarid=$1 [L]


#REQUIREMENT REGISTRAR
RewriteRule ^dev-requirement-finance$ controllers/developer/settings/requirement-finance/requirement-finance.php [L]
RewriteRule ^dev-requirement-finance/([0-9]+)$ controllers/developer/settings/requirement-finance/requirement-finance.php?requirementfinanceid=$1 [L]
RewriteRule ^dev-requirement-finance/active/([0-9]+)$ controllers/developer/settings/requirement-finance/active.php?requirementfinanceid=$1 [L]


###### DEV SETTINGS ######
