RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *
 
###### DEV SETTINGS ######

#DEPARTMENT
RewriteRule ^dev-department$ controllers/developer/settings/department/department.php [L]
RewriteRule ^dev-department/([0-9]+)$ controllers/developer/settings/department/department.php?departmentid=$1 [L]
RewriteRule ^dev-department/active/([0-9]+)$ controllers/developer/settings/department/active.php?departmentid=$1 [L]

#RELATIONSHIP
RewriteRule ^dev-relationship$ controllers/developer/settings/relationship/relationship.php [L]
RewriteRule ^dev-relationship/([0-9]+)$ controllers/developer/settings/relationship/relationship.php?relationshipid=$1 [L]
RewriteRule ^dev-relationship/active/([0-9]+)$ controllers/developer/settings/relationship/active.php?relationshipid=$1 [L]

#GRADE LEVEL
RewriteRule ^dev-grade-level$ controllers/developer/settings/grade-level/grade-level.php [L]
RewriteRule ^dev-grade-level/([0-9]+)$ controllers/developer/settings/grade-level/grade-level.php?gradelevelid=$1 [L]
RewriteRule ^dev-grade-level/active/([0-9]+)$ controllers/developer/settings/grade-level/active.php?gradelevelid=$1 [L]

#NOTIFICATION
RewriteRule ^dev-notification$ controllers/developer/settings/notification/notification.php [L]
RewriteRule ^dev-notification/([0-9]+)$ controllers/developer/settings/notification/notification.php?notificationid=$1 [L]
RewriteRule ^dev-notification/active/([0-9]+)$ controllers/developer/settings/notification/active.php?notificationid=$1 [L]


#REQUIREMENT REGISTRAR
RewriteRule ^dev-requirement-registrar$ controllers/developer/settings/requirement-registrar/requirement-registrar.php [L]
RewriteRule ^dev-requirement-registrar/([0-9]+)$ controllers/developer/settings/requirement-registrar/requirement-registrar.php?requirementregistrarid=$1 [L]
RewriteRule ^dev-requirement-registrar/active/([0-9]+)$ controllers/developer/settings/requirement-registrar/active.php?requirementregistrarid=$1 [L]


#REQUIREMENT REGISTRAR
RewriteRule ^dev-requirement-finance$ controllers/developer/settings/requirement-finance/requirement-finance.php [L]
RewriteRule ^dev-requirement-finance/([0-9]+)$ controllers/developer/settings/requirement-finance/requirement-finance.php?requirementfinanceid=$1 [L]
RewriteRule ^dev-requirement-finance/active/([0-9]+)$ controllers/developer/settings/requirement-finance/active.php?requirementfinanceid=$1 [L]

#REQUIREMENT IT
RewriteRule ^dev-requirement-it$ controllers/developer/settings/requirement-it/requirement-it.php [L]
RewriteRule ^dev-requirement-it/([0-9]+)$ controllers/developer/settings/requirement-it/requirement-it.php?requirementitid=$1 [L]
RewriteRule ^dev-requirement-it/active/([0-9]+)$ controllers/developer/settings/requirement-it/active.php?requirementitid=$1 [L]

#TUITION CATEGORY
RewriteRule ^dev-tuition-category$ controllers/developer/settings/tuition-category/tuition-category.php [L]
RewriteRule ^dev-tuition-category/([0-9]+)$ controllers/developer/settings/tuition-category/tuition-category.php?tuitioncategoryid=$1 [L]
RewriteRule ^dev-tuition-category/active/([0-9]+)$ controllers/developer/settings/tuition-category/active.php?tuitioncategoryid=$1 [L]

#LEARNING TYPE
RewriteRule ^dev-learning-type$ controllers/developer/settings/learning-type/learning-type.php [L]
RewriteRule ^dev-learning-type/([0-9]+)$ controllers/developer/settings/learning-type/learning-type.php?learningtypeid=$1 [L]
RewriteRule ^dev-learning-type/active/([0-9]+)$ controllers/developer/settings/learning-type/active.php?learningtypeid=$1 [L]


#SCHEME
RewriteRule ^dev-scheme$ controllers/developer/settings/scheme/scheme.php [L]
RewriteRule ^dev-scheme/([0-9]+)$ controllers/developer/settings/scheme/scheme.php?schemeid=$1 [L]
RewriteRule ^dev-scheme/active/([0-9]+)$ controllers/developer/settings/scheme/active.php?schemeid=$1 [L]


# FEES
RewriteRule ^dev-tuition-fee$ controllers/developer/settings/tuition-fee/tuition-fee.php [L]
RewriteRule ^dev-tuition-fee/([0-9]+)$ controllers/developer/settings/tuition-fee/tuition-fee.php?tuitionfeeid=$1 [L]
RewriteRule ^dev-tuition-fee/active/([0-9]+)$ controllers/developer/settings/tuition-fee/active.php?tuitionfeeid=$1 [L]

# ROLES
RewriteRule ^dev-roles$ controllers/developer/settings/roles/roles.php [L]
RewriteRule ^dev-roles/([0-9]+)$ controllers/developer/settings/roles/roles.php?roleid=$1 [L]
RewriteRule ^dev-roles/active/([0-9]+)$ controllers/developer/settings/roles/active.php?roleid=$1 [L]

# USER SYSTEM
RewriteRule ^dev-user-system$ controllers/developer/settings/system/system.php [L]
RewriteRule ^dev-user-system/([0-9]+)$ controllers/developer/settings/system/system.php?usersystemid=$1 [L]
RewriteRule ^dev-user-system/active/([0-9]+)$ controllers/developer/settings/system/active.php?usersystemid=$1 [L]
RewriteRule ^dev-user-system/password controllers/developer/settings/system/set-password.php [L]
RewriteRule ^dev-user-system/reset controllers/developer/settings/system/reset-password.php [L]
RewriteRule ^dev-user-system/login$ controllers/developer/settings/system/login.php [L]
RewriteRule ^dev-user-system/key/([A-Za-z0-9-]+)$ controllers/developer/settings/system/key.php?usersystemkey=$1 [L]
RewriteRule ^dev-user-system/token$ controllers/developer/settings/system/token.php [L]

# USER OTHER
RewriteRule ^user-other$ controllers/developer/settings/other/other.php [L]
RewriteRule ^user-other/([0-9]+)$ controllers/developer/settings/other/other.php?userotherid=$1 [L]
RewriteRule ^user-other/active/([0-9]+)$ controllers/developer/settings/other/active.php?userotherid=$1 [L]
RewriteRule ^user-other/password controllers/developer/settings/other/set-password.php [L]
RewriteRule ^user-other/reset controllers/developer/settings/other/reset-password.php [L]
RewriteRule ^user-other/login$ controllers/developer/settings/other/login.php [L]
RewriteRule ^user-other/key/([A-Za-z0-9-]+)$ controllers/developer/settings/system/key.php?usersystemkey=$1 [L]
RewriteRule ^user-other/token$ controllers/developer/settings/system/token.php [L]

###### DEV SETTINGS ######



#INFO-CONTACT
RewriteRule ^dev-info-contact$ controllers/developer/client/info-contact/info-contact.php [L]
RewriteRule ^dev-info-contact/([0-9]+)$ controllers/developer/client/info-contact/info-contact.php?infocontact=$1 [L]
RewriteRule ^dev-info-contact/active/([0-9]+)$ controllers/developer/client/info-contact/active.php?infocontact=$1 [L]

#INFO-FINANCIAL
RewriteRule ^dev-info-financial$ controllers/developer/client/info-financial/info-financial.php [L]
RewriteRule ^dev-info-financial/([0-9]+)$ controllers/developer/client/info-financial/info-financial.php?infofinancial=$1 [L]
RewriteRule ^dev-info-financial/active/([0-9]+)$ controllers/developer/client/info-financial/active.php?infofinancial=$1 [L]
###### DEV CLIENT ######

RewriteRule ^dev-info-parent$ controllers/developer/client/info-parent-guardian/info-parent-guardian.php [L]
RewriteRule ^dev-info-parent/([0-9]+)$ controllers/developer/client/info-parent-guardian/info-parent-guardian.php?parentinfoid=$1 [L]
RewriteRule ^dev-info-parent-relationship/([0-9]+)$ controllers/developer/client/info-parent-guardian/update-relationship.php?parentinfoid=$1 [L]

###### DEV CLIENT ######





















# TESTING LANG TO NNG REACT TABLE
RewriteRule ^student$ controllers/developer/students/students.php [L]
RewriteRule ^student/([0-9]+)$ controllers/developer/students/students.php?studentid=$1 [L]
RewriteRule ^student/active/([0-9]+)$ controllers/developer/student/active.php?studentid=$1 [L]