@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: hsl(109, 73%, 13%);
  --accentDark: hsl(109, 73%, 10%);
  --primary: #ffffff;
  --secondary: #f3f3f3;
  --line: #efefef;
  --header: #0f0f0f;
  --body: #424242;
  --disable: #bebebe;
  --light: #fff;

  --alert: hsl(0, 76%, 39%);
  --alertDark: hsl(0, 76%, 29%);
  --warning: hsl(20, 90%, 68%);
  --warningDark: hsl(20, 90%, 58%);
  --success: hsl(127, 56%, 45%);
  --successDark: hsl(127, 56%, 35%);
  --info: hsl(226, 64%, 52%);
  --infoDark: hsl(226, 64%, 42%);
}

.theme-dark {
  --accent: hsl(23, 99%, 49%);
  --accentDark: hsl(23, 99%, 39%);
  --primary: #2e2e2e;
  --secondary: #222222;
  --line: #333333;
  --header: #ffffff;
  --body: #d6d6d6;
  --disable: #bebebe;

  --alert: hsl(0, 76%, 39%);
  --alertDark: hsl(0, 76%, 29%);
  --warning: hsl(20, 90%, 68%);
  --warningDark: hsl(20, 90%, 58%);
  --success: hsl(127, 56%, 45%);
  --successDark: hsl(127, 56%, 35%);
  --info: hsl(226, 64%, 52%);
  --infoDark: hsl(226, 64%, 42%);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-header;
  }

  h1 {
    @apply text-3xl mb-1;
  }

  h2 {
    @apply text-xl mb-2;
  }

  h3 {
    @apply text-lg mb-1;
  }

  h4 {
    @apply text-base mb-1;
  }

  html {
    @apply h-full;
  }

  a {
    @apply text-body no-underline;
  }

  button {
    @apply cursor-pointer bg-transparent;
  }

  body {
    @apply leading-relaxed text-body font-primary text-sm bg-secondary;
  }

  body.no--scroll {
    @apply h-screen overflow-hidden;
  }

  table {
    @apply w-full border-collapse;
  }

  table th,
  table td {
    @apply text-left text-xs py-1;
  }

  table thead tr th:last-child div {
    @apply text-right justify-end;
  }

  table thead tr th:first-child,
  table thead tr td:first-child {
    @apply w-5;
  }

  table tr {
    @apply border-b border-gray-50 border-line transition-colors;
  }

  table tbody tr:hover {
    @apply bg-slate-50 shadow-sm;
  }

  table tr:last-child {
    @apply border-none;
  }

  .article p {
    @apply mb-2 text-xs leading-relaxed;
  }

  .article h5 {
    @apply mb-5 text-sm;
  }

  .article h6 {
    @apply mb-3 text-xs;
  }

  .article ul,
  .article ol {
    @apply mb-4 ml-4;
  }

  .article li {
    @apply mb-4 text-xs;
  }

  table thead {
    @apply sticky top-0  bg-white border-b border-gray-100;
  }

  nav {
    @apply h-[calc(100vh-6px)] top-0 bg-primary fixed border w-[240px] transition-transform -translate-x-[100%] lg:-translate-x-[100%] animate-slideRight ease-timing-nav duration-300 z-50 lg:z-0;
  }

  nav .backdrop {
    @apply absolute top-0 left-[59.5vw] bg-white bg-opacity-0 h-full w-[40vw] transition-all delay-100 lg:hidden pointer-events-none;
  }

  table.table__sm thead tr td {
    @apply font-bold;
  }

  table.table__sm tr td:last-child ul {
    @apply justify-end;
  }

  nav.show.expand {
    @apply translate-x-0;
  }

  nav.expand {
    @apply -translate-x-[100%] lg:translate-x-0;
  }

  nav.show .backdrop {
    @apply bg-opacity-10;
  }

  nav ul > li {
    @apply mb-2;
  }

  nav ul li svg {
    @apply text-base;
  }
  nav ul li ul {
    @apply ml-3 pl-5 border-l border-line;
  }

  nav ul li ul li {
    @apply mb-2;
  }

  label {
    @apply block mb-1 opacity-80;
  }

  input,
  textarea,
  select {
    @apply w-full border-line border p-[5px] rounded-md outline-none;
  }

  textarea {
    @apply resize-none min-h-[120px];
  }

  input:disabled,
  select:disabled,
  textarea:disabled,
  .disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed;
  }

  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-accent outline-0;
  }
}

@layer components {
  .btn {
    @apply p-2.5 rounded-md border border-transparent transition-ease leading-none  min-w-[70px] flex gap-2 items-center justify-center text-xs;
  }

  .btn--sm {
    @apply px-1 h-[30px];
  }

  .btn:disabled {
    @apply opacity-60 cursor-not-allowed;
  }

  .btn--cancel {
    @apply bg-gray-100 text-gray-500 border-gray-100 hover:bg-gray-200;
  }

  .btn--outline {
    @apply bg-transparent text-accent border border-accent hover:bg-accentDark hover:text-white cursor-pointer;
  }

  .btn--accent:disabled {
    @apply bg-accent text-white;
  }

  .btn--accent:not(:disabled) {
    @apply bg-accent text-white hover:bg-accentDark;
  }

  .btn--accent:not(:disabled) {
    @apply bg-accent text-white hover:bg-accentDark;
  }

  .btn--alert {
    @apply bg-alert text-primary  hover:bg-alertDark;
  }
  .btn--warning {
    @apply bg-warning text-primary hover:bg-warningDark;
  }

  .btn--info {
    @apply bg-info  text-primary hover:bg-infoDark;
  }

  .btn--success {
    @apply bg-success  text-primary hover:bg-successDark;
  }

  .btn-filter {
    @apply w-full h-[150px] bg-gray-200 grid place-content-center transition-ease active:scale-95;
  }

  .btn-filter span {
    @apply text-lg;
  }

  .nav__link {
    @apply flex flex-col gap-3 items-center;
  }

  .nav__link.active > button,
  .nav__link.active > a {
    @apply text-white bg-accent;
  }

  .nav__link > svg {
    @apply text-xl;
  }
  .nav__link a,
  .nav__link button {
    @apply w-full py-[5px];
  }

  .nav__link.active {
    @apply text-accent;
  }

  .nav__link.active > ul li {
    @apply relative before:content-[''] before:absolute before:w-[2px] before:h-[26px] before:top-0 before:-left-5 before:bg-transparent hover:before:bg-accent;
  }

  .nav__link.active > ul li.active__submenu {
    @apply text-accent before:bg-accent;
  }

  .spinner {
    @apply origin-center animate-rotate;
  }

  .main__wrapper {
    @apply min-h-[calc(100vh_-_68px)];
  }

  .table__wrapper {
    @apply bg-primary px-2 pb-2 pt-0 rounded-md relative  border-gray-200 border  overflow-y-auto lg:overflow-x-visible;
  }

  .form__wrap {
    @apply mb-4 relative;
  }

  .form__wrap label {
    @apply text-xs;
  }

  .form__wrap:focus-within label {
    @apply text-accent;
  }

  .form__wrap span.error-show {
    @apply absolute top-1 right-1 text-[10px] text-alert italic;
  }

  .form__wrap:has(.error-show) input,
  .form__wrap:has(.error-show) select,
  .form__wrap:has(.error-show) textarea {
    @apply border-alert animate-shake;
  }

  .form__wrap:has(.error-show) label {
    @apply text-alert;
  }

  li.valid {
    @apply text-header;
  }

  li.valid svg {
    @apply fill-green-600;
  }

  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full  bg-gradient-to-r from-transparent via-[#eeeeee] to-transparent  animate-loading;
  }

  /* MAIN WRAPPER - PAGE WITH TABLE */

  .main__table {
    @apply shadow-sm;
  }

  .main__content {
    @apply py-6 px-2 lg:px-4  w-full  lg:pl-6  lg:ml-[250px] transition-all ease-timing-nav duration-300;
  }
  .main__content.expand {
    @apply lg:ml-0;
  }

  /* MODAL */

  .modal {
    @apply fixed top-0 left-0 z-[999999] w-full h-screen;
  }

  .modal__backdrop {
    @apply bg-black/30  absolute top-0 left-0 h-full w-full transition-opacity opacity-30 ease-modal-timing delay-200;
  }

  .modal.modal--side .modal__main {
    @apply absolute top-0 right-0 h-full max-w-[330px] w-full bg-white pl-4 py-6 ml-2 shadow-left animate-slideLeft opacity-0 ease-modal-timing translate-x-[20%] transition-all;
  }

  .modal__main .modal__header {
    @apply relative mb-4;
  }

  .modal__main .modal__header button {
    @apply absolute -top-4 right-2 text-xl;
  }

  .modal__main {
    @apply flex flex-col;
  }

  .modal__main .modal__body {
    @apply grow max-h-[1900px] h-full overflow-y-auto;
  }

  .modal__main .modal__action {
    @apply flex  gap-2 justify-end pt-4 pr-4;
  }

  .modal.modal--side.show .modal__main {
    @apply opacity-100 translate-x-0;
  }

  .modal.modal--side.show .modal__backdrop {
    @apply opacity-100  bg-black/30;
  }

  .modal.modal--settings.show .modal__main {
    @apply opacity-100 scale-100;
  }

  .modal.modal--settings.show .modal__backdrop {
    @apply opacity-100  bg-black/30;
  }

  .modal__settings__nav ul li.active {
    @apply bg-accent text-white transition-colors ease-in-out;
  }

  .modal__settings__nav ul li.active button {
    @apply bg-accent text-white transition-colors ease-in-out hover:bg-accent;
  }

  .modal__settings__nav ul li button {
    @apply w-full block text-left hover:bg-white;
  }

  .subnav ul li {
    @apply py-1.5 pl-4;
  }

  .subnav ul li button {
    @apply flex gap-4 items-center;
  }

  .subnav ul li.active {
    @apply bg-accent text-white;
  }

  /* TOOLTIP */

  .tooltip {
    @apply w-[24px] h-[24px] hover:bg-gray-200 flex justify-center items-center cursor-pointer rounded-full relative whitespace-nowrap;
  }

  .tooltip.tooltip--bottom {
    @apply translate-y-2 bg-transparent;
  }

  .tooltip.tooltip--bottom::after {
    @apply top-[22px] left-[15px];
  }

  .tooltip.tooltip--bottom::before {
    @apply hidden;
  }

  .tooltip:hover::after,
  .tooltip:hover::before {
    @apply opacity-100;
  }

  .tooltip::after {
    @apply content-[attr(data-tooltip)] absolute -top-[20px] text-[10px]  left-1/2  -translate-x-1/2  bg-black  bg-opacity-70 py-[4px] px-1.5 text-white  rounded-md opacity-0 leading-none;
  }

  .tooltip::before {
    @apply content-[''] absolute w-0 h-0 -top-[2px] left-1/2 -translate-x-1/2 border-t-4 border-r-4 border-l-4 border-solid border-transparent border-t-black/70 opacity-0;
  }

  /* HEADER DROPDOWN */
  .dropdown.active {
    @apply opacity-100 scale-100 visible ease-in-out duration-200 transition-all;
  }

  .dropdown.inactive {
    @apply opacity-0 scale-90 visible ease-in-out duration-200 transition-all pointer-events-none;
  }
}

@layer utilities {
  .transition-ease {
    @apply transition-all ease-in-out duration-200;
  }
}

/* NOT AVAILABLE IN TAILWIND */

.spinner circle {
  fill: none;
  stroke: var(--light);
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -124px;
  }
}

.modal__body,
datalist {
  scrollbar-gutter: stable;
  padding-right: 8px;
}

.custom__scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  @apply w-1;
}
.custom__scroll::-webkit-scrollbar:vertical,
body::-webkit-scrollbar:vertical {
  @apply w-2;
}
.custom__scroll::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal {
  @apply h-2.5 bg-gray-100;
}
.custom__scroll::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-track-piece {
  @apply bg-gray-100;
}
.custom__scroll::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
.custom__scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  @apply bg-gray-300 border-8;
}

.noSort svg {
  @apply hidden;
}
